.registerForm {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  border: 2px solid;
}

.registerInput {
  display: flex;
  flex-direction: column;
  margin: 10px;
  align-items: center;
  font-size: large;
  text-align: left;
  padding: 5px 15px;
}

.registerBtn {
  margin-top: 20px;
  margin-bottom: 10px;
  background-color: rgba(139, 195, 233, 0.8);
  color: rgb(2, 2, 2);
  font-family: SFProText-Regular, Helvetica, Arial, sans-serif;
  font-size: 15px;
  height: 36px;
  line-height: 20px;
  margin-left: auto;
  margin-right: auto;
  max-width: 300px;
  padding: 0 16px 0 16px;
  cursor: pointer;
  border: 1px solid #181818;
  border-radius: 4px;
}
.registerBtn:hover {
  background-color: rgb(34, 77, 163);
  cursor: pointer;
}
